* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#root {
    background-color: green;
    height: 100vh;
}

#app-header {
    text-align: center;
    background-color: #9ca3afd3;
}

#wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

#cv-questioner {
    background: #9ca3af;
    color: white;
    max-width: 794px;
}

#cv-result {
    background: white;
}


@media (max-width: 968px) {
    #wrapper {
        display: flex;
        flex-direction:column;
        gap: 1rem;
        justify-content: center;
    }
}

.descriptionlist-ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    left: 1rem;
}